@charset "UTF-8";

/* *****************************************/
/*    css
/*    V #{$VERSION}
/*        by AuOzzy
/******************************************/
@use "sass:math";
@import "core";

img {
    height: auto;
}

@import "frontend/home";
@import "frontend/footer";

.marquee {
    display: none;
}

@import "frontend/pdt";
@import "frontend/cart";


#topBtn {
    @media (max-width: 768px) {
        top: unset;
        bottom: 16px;
    }
}