
.p1 .swiper-slide img {
    @include absolute(50%, $L:0);
    translate: 0 -50%;
    width: 100%;
}

.pdt-card {
    width: 100%;
}

.p5 .swiper {
    @media (max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

